body {
    background-color: whitesmoke;
    font-family: Arial, sans-serif;
    margin-left: 60px;
}

.h1-charts {
    color: rgb(71, 61, 46); /* Spotify Green */
    text-align: center;
    margin-top: 20px;
}

.h2-charts {
    color: var(--color-200)
}

.p-charts {
    color: #B3B3B3;
}
/* Song List Styles */
.song-list-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.ul-charts {
    list-style-type: none;
    padding: 0;
}

.li-charts {
    background-color: var(--color-400); 
    padding: 15px;
    padding-left: 5%;
    margin: 10px 0;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.li-charts:hover {
    color:var(--color-400);
    background-color: var(--color-100);
}