.hero-section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.hero-text {
  width: 100%;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-200);
  /* max-width: 31.25rem; */
  padding-left: 50px;
  padding-bottom: 4rem;
}

.buttons {
  display: flex;
  justify-content: center;
  /* padding: 1.25rem; */
  border-radius: 0.625rem;
  width: 100%;
  position: relative;
  flex-wrap: wrap;
}

.explore-button {
  text-decoration: none;
  font-weight: 700;
  font-size: 25px;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  aspect-ratio: 1;
  color: white;
  border-radius: 0.625rem;
  margin-left: 20px;
  margin-right: 20px;
  text-shadow: 5px 5px 5px black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition:0.2s;
  /* padding: 1%;
    margin-left: 5rem;
    margin-right: 15rem; */
}

.liked-songs {
  background: url("./likedsongs.jpg");
  background-repeat: no-repeat;
  background-size: 150% 100%;
}
.liked-albums {
  background: url("./likedalbums.jpg");
  background-repeat: no-repeat;
  background-size: 150% 100%;
}
.liked-playlists {
  background: url("./likedplaylists.jpg");
  background-repeat: no-repeat;
  background-size: 150% 100%;
}
.liked-podcasts {
  background: url("./likedpodcasts.jpg");
  background-repeat: no-repeat;
  background-size: 150% 100%;
}

.explore-button:hover {
  -webkit-filter: brightness(70%);
}

@media (max-width: 900px) {
  .explore-button {
    width: 200px;
    height: 100px;
    margin-bottom:20px;
  }
}
